<h1>Welcome to <%=@customer_props[:company_name] %></h1>

<div id="welcome_desc">
	<%= textilize_links(@customer_props[:welcome_text]) %>	
</div>

<div id="welcome_desc">
	<%= textilize_links(@customer_props[:company_description]) %>
</div>

<br/>
